<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
	<ul>
  		<li>8 Years of experience in IT industry and has extensive knowledge across all stages of SDLC.</li>
  		<li>7 Year of experience in Android technology.</li>
  		<li>Languages/Technologies: Android,Java,J2EE</li>
  		<li>Software Development Tools: Android Studio,Eclipse</li>
  		<li>Fluency in OOPS and versed in best programming principles and practices.</li>
  		<li>General knowledge of SQL, database design and database concepts</li>
  		<li>Ability to participate in all phases of application software development.</li>
  		<li>Ability to take ownership of projects and see them through. </li>
  		<li>Passion to learn new skills and technologies</li>
</ul>
</div>